{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Socket plugin for Craft CMS
 *
 * SocketUtility Utility Content
 *
 * @author    Ro O'Leary
 * @copyright Copyright (c) 2018 Ro O'Leary
 * @link      https://ronan-oleary.com
 * @package   Socket
 * @since     1.0.0
 */
#}

<h1>SocketUtility</h1>

{% set iconUrl = view.getAssetManager().getPublishedUrl('@ro/socket/assetbundles/socketutilityutility/dist', true) ~ '/img/SocketUtility-icon.svg' %}

<img src="{{ iconUrl }}" height="64" width="64" />

<p>Your Utility content goes here</p>

<p>{{ someVar }}</p>